$base-font-size: 32px;

@mixin ph {
  @media (max-width: 700px) {
    @content;
  }
}

* {
  box-sizing: border-box;
}

body {
  font-size: $base-font-size;
  line-height: 1.5;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  background: url('../img/s2-4-min.png') no-repeat 0 0 / cover;

  @include ph {
    color: red;
  }
}



// @import 'block/title.scss';
// @import 'block/news.scss';

@import 'block/*.scss';