@import 'clear.scss';
@import 'fonts.scss';

//vars
$base-font-size: 32px;

//mixins
@mixin ph {
  @media (max-width: 700px) {
    @content;
  }
}

//base styles
body {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  font-size: $base-font-size;
  line-height: 1.5;
  background: url('../img/s2-4-min.png') no-repeat 0 0 / cover;

  @include ph {
    color: red;
  }
}

@import 'block/*.scss';