.footer {
  &__info {
    text-align: center;
  }

  &__container {
    display: flex;
    height: 80px;
    padding-block: 20px;
    display: flex;
    justify-content: center;

    & svg {
      height: 100%;
      transition: all 0.3s;
      padding-inline: 10px;

      &:hover {
        fill: $color-accent;
      }
    }
  }
}