.header {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 50;
  width: 100%;
  background: $color-white;

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    min-height: $header-height;
  }

  &__logo {
    position: relative;
    z-index: 10;

    & svg {
      height: 60px;

      & g path {
        transition: all 0.3s;
      }

      &:hover g path {
        fill: $color-accent;
      }

    }
  }
}

.menu {

  &__list {
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    column-gap: 40px;
    row-gap: 5px;
    flex-wrap: wrap;
  }

  &__link {
    position: relative;
    transition: opacity 0.3s, color 0.3s;

    &::after {
      position: absolute;
      content: '';
      left: 50%;
      transform: translateX(-50%);
      bottom: -5px;
      display: block;
      width: 0;
      height: 2px;
      background: $color-accent;
      transition: 0.3s;
    }

    &:hover {
      color: $color-accent;
      opacity: 0.7;

      &:after {
        width: 100%;
        opacity: 0.7;
      }
    }
  }
}

.icon {

  &-menu {
    display: none;
  }


}

@media (max-width: 797.98px) {
  .menu {
    &__list {
      position: fixed;
      width: 100%;
      height: 100%;
      top: 0;
      left: -100%;
      transition: left 0.3s;
      padding: 100px 15px 20px 15px;
      background-color: $color-light;
      flex-direction: column;
      gap: 35px;
      overflow: auto;
    }

    &__link {
      font-size: 36px;

      &::after {
        display: none;
      }

      &:hover {
        opacity: 1;
      }
    }
  }

  .menu-open .menu__list {
    left: 0;
  }

  .icon-menu {
    display: block;
    position: relative;
    z-index: 10;
    width: 30px;
    height: 18px;
  }

  .icon-menu__line,
  .icon-menu::before,
  .icon-menu::after {
    position: absolute;
    content: '';
    background-color: $color-black;
    width: 100%;
    height: 2px;
    left: 0;
    transition: 0.3s;
  }


  .icon-menu::before {
    top: 0;
  }

  .icon-menu::after {
    bottom: 0;
  }

  .icon-menu__line {
    top: calc(50% - 1px);
  }

  .menu-open {
    & .icon-menu::before {
      top: calc(50% - 1px);
      transform: rotate(-45deg);
    }

    & .icon-menu::after {
      bottom: calc(50% - 1px);
      transform: rotate(45deg);
    }

    & .icon-menu__line {
      left: 50%;
      width: 0;
    }

  }
}