.home {
  & h1 {
    margin: 0;
    font-weight: bold;
    font-size: clamp(2rem, 3vw + 1rem, 2.75rem);
    line-height: 136.363%;
  }

  &__container {
    height: Calc(100vh - $header-height);
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__content {
    flex: 0 1 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
  }

  &__img {
    flex: 0 1 30%;
    border-radius: 50%;

    & img {
      object-fit: contain;
      object-position: center;
      width: 100%;
    }
  }
}

@media (max-width: 767.98px) {
  .home {
    &__container {
      // padding-top: calc(20px + $header-height);
      padding-block: 20px;
      flex-direction: column-reverse;
      justify-content: center;
      gap: 20px;
    }

    &__content {
      flex: none;
      text-align: center;
      align-items: center;
      gap: 24px;
    }

    &__img {
      flex: none;
      width: 64%;
      max-width: 360px;
    }
  }
}